/* ========== BTN GLOBAL ========== */
.btn-global{
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    margin-top: 1.25rem;
    justify-content: center;
}
.btn-global button{
    color: var(--primary-color);
    padding: 0.8rem 1.7rem;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 1.0625rem;
    border: 1px solid;
    z-index: 1;
}
.btn-global button::before, .btn-global button::after{
    content: '';
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: var(--primary-color);
    transition: 1s ease;
}
.btn-global button::before{
    top: -1rem;
    left: -1rem;
}
.btn-global button::after{
    left: calc(100% + 1rem);
    top: calc(100% + 1rem);
}
.btn-global button:hover::before, .btn-global button:hover::after{
    width: 25.625rem;
    height: 25.625rem;
}
.btn-global button:hover{
    color: var(--background-color);
    animation: pulse 0.6s infinite;
}
.btn-global button:active{
    filter: brightness(.8);
}
.btn-global, .individual{
    justify-content: center;
}

/* ========== FOOTER ========== */
footer{
    padding: 2.5rem 1.25rem;
    text-align: center;
    color: var(--color-txt);
}
footer .line-footer{
    padding: 0.625rem 0;
}
footer .btn-adiciona{
    justify-content: center;
}
.borda{
    border-top: 2px solid var(--primary-color);
}
footer a{
    color: var(--primary-color);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}