footer{
    padding: 2.5rem 1.25rem;
    text-align: center;
    color: var(--color-txt);
}
footer .line-footer{
    padding: 0.625rem 0;
}
footer .btn-adiciona{
    justify-content: center;
}
.borda{
    border-top: 2px solid var(--primary-color);
}
footer a{
    color: var(--primary-color);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}