/* ========== CORES DO SITE ========== */
:root{
    --primary-color: #00CA76;
    --secondary-color: #01916D;
    --background-color: #000000;
    --text-color: #ffffff;
    --card-background: #3d3d3d;
    --color-painel: #1a1a1a;
    --marcador-color: #838383;
    --success-color: #00ff88;
    --danger-color: #ff5555;
}

/* ========== CARDS GERAL ========== */
.container-card{
    display: block;
    padding: 3rem;
}
.grid-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.card-status{
    background: var(--color-painel);
    border-left: 5px solid var(--secondary-color);
    padding: 1.5rem;
    border-radius: 0.625rem;
}
.card-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}
.card-header i{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.card-header h2{
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin: 0;
}
.card-body p{
    font-size: 1.1rem;
    margin: 0.5rem 0;
}
.status, .status-prefix, .cargo{
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: bold;
}
.status.online, .cargo{
    background-color: rgba(34, 197, 94, 0.1);
    color: var(--success-color);
}
.status.offline{
    background-color: rgba(239, 68, 68, 0.1);
    color: var(--danger-color);
}
.activity-log{
    margin-top: 2rem;
}
.activity-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.activity-item{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--card-background);
    border-radius: 8px;
}
.activity-item i{
    font-size: 1.25rem;
}
.activity-content p{
    margin: 0;
    color: var(--text-color);
}
.atalho a, button{
    background: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin: 8px;
}
.atalho a i{
    color: var(--background-color);
    font-size: 1.2rem;
}
.atalho a:hover{
    color: var(--background-color);
    background: var(--secondary-color);
}
.inputwelcome{
    background: transparent;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 4px solid var(--secondary-color);
    color: var(--primary-color);
}
.inputwelcome :focus{
    background: transparent;
}
.inputwelcome input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: var(--primary-color) !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
.inputwelcome::placeholder{
    color: var(--primary-color);
}

/* ========== CARDS CONFIGURAÇÕES ========== */
.form-select{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}
.btn-salvar{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}
.btn-salvar:hover{
    background-color: var(--secondary-color);
}
.btnhover:hover{
    background: var(--secondary-color);
}
.paginacao{
    text-align: center;
    margin-top: 20px;
}
.paginacao a{
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.paginacao a:hover{
    border-bottom: 4px solid var(--secondary-color);
}
.paginacao a.ativo{
    border-bottom: 4px solid var(--secondary-color);
    font-weight: bold;
}
.music-painel i{
    font-size: 1.25rem;
    color: var(--primary-color);
}