/* ========== CORES DO SITE ========== */
:root{
    --primary-color: #00CA76;
    --secondary-color: #01916D;
    --background-color: #000000;
    --text-color: #ffffff;
    --card-background: #3d3d3d;
    --color-painel: #1a1a1a;
}

/* ========== EMBED WELCOME ========== */
.discord-embed{
    background-color: var(--color-painel);
    border-left: 5px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    color: var(--text-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 180px;
}
.embed-header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.embed-header i{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.embed-header h2{
    font-size: 1.25rem;
    margin: 0;
    color: var(--secondary-color);
}
.embed-body{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    white-space: pre-line;
    height: 70px;
}
.embed-footer{
    padding-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--text-color);
}

/* ========== EMBED MÚSICA ========== */
.volume-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.volume-card .activity-content{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.volume-card p i{
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 2px;
}
.volume-card p i:hover{
    color: var(--secondary-color);
}
.discord-embed-music{
    background-color: var(--color-painel);
    border-left: 5px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    color: var(--text-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* height: 190px; altura do card */
}
.embed-header-music{
    display: flex;
    align-items: center;
    gap: 10px;
}
.embed-header-music i{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.embed-header-music h2{
    font-size: 1.25rem;
    margin: 0;
    color: var(--secondary-color);
}
.embed-body-music{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    height: 90px; /* distancia o footer */
}
.embed-body-music img{
    width: 100px;
    height: 100px;
    float: left;
}
.embed-footer-music{
    padding-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--text-color);
}
.volume-controls{
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.3s ease;
    pointer-events: none;
}
.volume-controls.show{
    display: flex;
    opacity: 1;
    transform: translateX(-1);
    pointer-events: auto;
}
#volume-valor{
    font-weight: bold;
    display: inline-block;
}
.volume-icon{
    transform: translateX(-7px);
    transition: all 0.3s ease;
    cursor: pointer;
}
.volume-icon.active{
    transform: translateX(-8px);
}
.music-painel{
    gap: 10px;
    margin-right: 15px;
    cursor: pointer;
}
.music-painel i:hover{
    color: var(--secondary-color);
}
/* ========== Animação suave para mostrar/esconder ========== */
.fade-in{
    animation: slideIn 0.3s ease-in forwards;
}
.fade-out{
    animation: slideOut 0.3s ease-out forwards;
}
@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideOut{
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(-100%);
    }
}