/* ========== CORES DO SITE ========== */
:root{
    --primary-color: #00CA76;
    --background-color: #000000;
}

select{
    background: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 8px;
    outline: none;
}