/* ========== BTN GLOBAL ========== */
.btn-global-style, .individual{
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
}
.btn-global, .custom-upload-btn{
    margin-top: 0.4rem;
    color: var(--primary-color);
    padding: 0.8rem 1.7rem;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 1.0625rem;
    border: 1px solid;
    z-index: 1;
}
.btn-global::before, .btn-global::after, .custom-upload-btn::before, .custom-upload-btn::after{
    content: '';
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: var(--primary-color);
    transition: 1s ease;
}
.btn-global::before, .custom-upload-btn::before{
    top: -1rem;
    left: -1rem;
}
.btn-global::after, .custom-upload-btn::after{
    left: calc(100% + 1rem);
    top: calc(100% + 1rem);
}
.btn-global:hover::before, .btn-global:hover::after, .custom-upload-btn:hover::before, .custom-upload-btn:hover::after{
    width: 25.625rem;
    height: 25.625rem;
}
.btn-global:hover, .custom-upload-btn:hover{
    color: var(--background-color);
    animation: pulse 0.6s infinite;
}
.btn-global:active, .custom-upload-btn:active{
    filter: brightness(.8);
}
.btn-global, .individual{
    justify-content: center;
}
.btn-global:focus{
    outline: none;
}
.btn-global.btn-danger{
    color: var(--danger-color);
}
.btn-global.btn-danger::before,
.btn-global.btn-danger::after{
    background: var(--danger-color);
}
.btn-global.btn-danger:hover{
    color: var(--background-color);
}

/* ========== BTN MENU ========== */
.toggle{
    background-color:var(--primary-color);
    color:var(--text-color);
    position: fixed;
    left: 1.25rem;
    top: 1.25rem;
    z-index: 3;
    border-radius: 0.3125rem;
    font-size: 1.5rem;
    border: none;
    padding: 0.625rem 0.9375rem;
    cursor: pointer;
    transition: left 0.5s ease;
}
#toggleTheme{
    background: transparent;
    color: var(--text-color);
    border: none;
    padding: 0.625rem; 
    font-size: 1.5rem; 
    cursor: pointer;
    transition: 0.3s ease;
}
#toggleTheme:hover{
    transform: translateX(5px) rotate(5deg);
}
.toggle:hover{
    background-color: var(--secondary-color);
}
.toggle:focus{
    outline: none;
}