body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ========== CARD LOGIN ========== */
.card-login{
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-color);
}
.card-header,.card-body{
    background: var(--color-painel);
}